body{
    font-family: sans-serif;
    margin:0px;
    padding:0px;
}
.header{
    width:100%;
}
.header img{
    width:100%;
}
.header ul{
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
    list-style-type: none;
}
.header li{
    float: left;
}
.header a{
    text-decoration: none;
    background-color: rgb(20, 3, 180);
    color: white;
    padding: 10px 16px;
}
.header a:hover{
    background-color: rgb(31, 7, 250);
}
.container{
    margin: 0 10px;
    margin-top:50px;
}
.login{
    border:1px solid rgb(31, 7, 250);
    border-radius: 10px;
    width: 23%;
    float: left;
    background-image: linear-gradient(rgba(224,243,250,1) 49%,rgba(184,226,246,1) 100%,rgba(182,223,253,1) 100%);
}
#heading{
    margin:10px 0px;
    text-align: center;
    text-decoration: underline;
}
.login p{
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 30px;
}
.login input[type="submit"]{
    background-color: rgb(20, 3, 180);
    color:white;
    border: none;
    padding: 8px;
    width: 67%;
}
.login input[type="submit"]:hover{
    background-color: rgb(31, 7, 250);
}
.terms{
    width:75%;
    float: right;
    background-image: linear-gradient(rgba(224,243,250,1) 49%,rgba(184,226,246,1) 100%,rgba(182,223,253,1) 100%);
}
.terms img{
    width: 100%;
    height: 300px;
}
.features{
    margin-top: 10px;
    border:1px solid rgb(31, 7, 250);
    border-radius: 10px;
    width: 23%;
    float: left;
    height: 285px;
    background-image: linear-gradient(rgba(224,243,250,1) 49%,rgba(184,226,246,1) 100%,rgba(182,223,253,1) 100%);
}
.features p{
    margin:0px;
    padding: 5px 15px;
}
.personal{
    width: 75%;
    float: right;
    border:1px solid rgb(31, 7, 250);
    border-radius: 10px;
    background-image: linear-gradient(rgba(224,243,250,1) 49%,rgba(184,226,246,1) 100%,rgba(182,223,253,1) 100%);
}